{% extends "main.html" %}
{% load i18n %}
{% block title %}{% trans "Manage your site" %}{% endblock %} 
{% block body %}
  <div class="block">
    <div class="bd">
      <h2>{{ title }}</h2>
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <div class="block">
      <div class="bd">
         <h2><a href="{% url muaccounts_manage_general %}">{% trans "General Settings" %}</a></h2>
         <h2><a href="{% url muaccounts_manage_styles %}">{% trans "Colors & Styles" %}</a></h2>
         <h2><a href="{% url muaccounts_member_list %}">{% trans "Users" %}</a></h2>
         <h2><a href="{% url muaccounts_manage_advanced %}">{% trans "Advanced Settings" %}</a></h2>
         <h2><a href="{% url manage_adsense %}">{% trans "Ad Settings" %}</a></h2>
         <h2><a href="{% url app_settings %}">{% trans "Applications Settings" %}</a></h2> 
      </div>
    </div>
{% endblock %}
