{% extends "manage_site_tmpl.html" %}
{% load i18n frontendadmin_tags %}

{% block head_title %}{{block.super}} : {% trans "Adsense settings" %}{% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Adsense settings" %}</h3>
    <div class="saaskit-content">
  <ul>
    {% for adsense in adsense_list %}
    <li>
      <strong>{{ adsense.name }}</strong>
      {% if adsense.muaccount %} 
      | {% frontendadmin_change adsense _('configure') %}
      {% if not adsense.has_default %}
        | {% frontendadmin_delete adsense _('delete') %}
      {% endif %}
      {% else %}
      | {% frontendadmin_change adsense _('customize') %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
