{% extends "muaccounts/muaccounts_base.html" %}
{% load i18n frontendadmin_tags %}

{% block head_title %}{{block.super}} : {% trans "Site Content" %}{% endblock %} 

{% block content %}

<div class="saaskit-block">
  <h3>{% trans "Manage content" %}</h3>
    <div class="saaskit-content">
	  {% frontendadmin_add flatpage_list %}
      <ul>
    {% for flatpage in flatpage_list %}
    <li>
      <a href="{{ flatpage.url }}">{{ flatpage.title }}</a>
      {% if flatpage.muaccount %} 
      | {% frontendadmin_change flatpage _('change') %}
      {% if not flatpage.has_default %}
        | {% frontendadmin_delete flatpage _('delete') %}
      {% endif %}
      {% else %}
      | {% frontendadmin_change flatpage _('customize') %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
