{% extends "muaccounts/manage/base.html" %}
{% load i18n frontendadmin_tags %}
{% block title %}{% trans "Adsense settings" %}{% endblock %} 

{% block content %}
  <h2>{% trans "Manage Adsense" %}</h2>
  <ul>
    {% for adsense in adsense_list %}
    <li>
      <strong>{{ adsense.name }}</strong>
      {% if adsense.muaccount %} 
      | {% frontendadmin_change adsense _('change') %}
      {% if not adsense.has_default %}
        | {% frontendadmin_delete adsense _('delete') %}
      {% endif %}
      {% else %}
      | {% frontendadmin_change adsense _('customize') %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
