{% extends "muaccounts/manage/base.html" %}
{% load i18n frontendadmin_tags %}
{% block title %}{% trans "Application settings" %}{% endblock %} 

{% block content %}
  <h2>{% trans "Manage Content" %}</h2>
  {% frontendadmin_add flatpage_list %}
  <ul>
    {% for flatpage in flatpage_list %}
    <li>
      <a href="{{ flatpage.url }}">{{ flatpage.title }}</a>
      {% if flatpage.muaccount %} 
      | {% frontendadmin_change flatpage _('change') %}
      {% if not flatpage.has_default %}
        | {% frontendadmin_delete flatpage _('delete') %}
      {% endif %}
      {% else %}
      | {% frontendadmin_change flatpage _('customize') %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
{% endblock %}
