{% extends "base_tmpl.html" %}
{% load i18n thumbnail muathemes class_if_reverse compressed adsense %}
{% block nav-rhs-add %}{% endblock %}

{% block extra_style %}
    {% compressed_css request.muaccount.theme.color_scheme %}
    {{ request.muaccount.webmaster_tools_code|safe }}
{% if request.device %}
  <style type="text/css" media="screen">@import "{{ MEDIA_URL }}jqtouch/jqtouch/jqtouch.css";</style>
  <style type="text/css" media="screen">@import "{{ MEDIA_URL }}jqtouch/themes/jqt/theme.css";</style>
{% endif %}
{% endblock %}

{% block logo %} 
  {% if request.muaccount.logo %}
    <img src="{% thumbnail request.muaccount.logo 128x64 %}" id="site-logo">
  {% else %}
    <div class="saaskit-content"><h3>{{request.muaccount}}</h3></div>
  {% endif %}
{% endblock %}

{% block tagline %}
  <h3>{{request.muaccount.tag_line}}</h3>
{% endblock %}

         
{% block footer %}  
  <p>
    Copyright User_Site Company</a>
  </p>
{% if request.device %}
<h2>Device</h2>
{{ request.device.id }}
{% endif %}
{% endblock %}

{% block extra_js %}
  {% compressed_js 'all' %}
  {{ request.muaccount.analytics_code|safe }}
{% if request.device %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
  <script src="{{ MEDIA_URL }}jqtouch/jqtouch/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
  <script language="javascript">
      $.jQTouch({
          icon: 'jqtouch.png',
          statusBar: 'black-translucent',
          preloadImages: [
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/back_button.png',
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/back_button_clicked.png',
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/button_clicked.png',
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/grayButton.png',
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/whiteButton.png',
              '{{ MEDIA_URL }}jqtouch/themes/jqt/img/loading.gif'
              ]
      });
  </script>
{% endif %}
{% endblock %}
